<section class="agenda">
  <div class="calendar">
    <div class="thead">
      <div class="th" ng-repeat="d in Days | limitTo: 7" ng-bind="d | date: 'EEE'"></div>
    </div>
    <div class="tbody">
      <div class="td"
        ng-repeat="d in Days"
        ng-click="(hasEvents(d) || isToday(d)) && setActiveEvents(d)"
        ng-class="{
          'calendar-day-today': isToday(d),
          'calendar-day-out': today.getMonth() !== d.getMonth(),
          'calendar-day-event': hasEvents(d),
          'calendar-day-active': isActiveDay(d)
        }"> {{ d | date: 'd' }}</div>
    </div>
  </div>
  <div class="calendar-events" ng-show="odd">
    <span class="calendar-events-day" ng-if="activeDayOdd && isToday(activeDayOdd)">Today</span>
    <span class="calendar-events-day" ng-if="activeDayOdd && !isToday(activeDayOdd)">{{ activeDayOdd | date:'longDate' }}</span>
    <div class="calendar-events-list">
      <div class="calendar-event" ng-repeat="event in activeEventsOdd | orderBy: startAttribute">
        <span class="calendar-event-time" ng-if="event.start.dateTime">{{ event.start.dateTime | date:'shortTime' }}</span>
        <span class="calendar-event-name" ng-class="{ 'calendar-event-name-no-time': !event.start.dateTime }"><a href="{{ event.htmlLink }}">{{ event.summary }}</a></span>
      </div>
      <div class="calendar-event" ng-if="activeEventsOdd.length === 0">
        <span class="calendar-event-name"><em>No events</em></span>
      </div>
    </div>
  </div>
  <div class="calendar-events" ng-show="!odd">
    <span class="calendar-events-day" ng-if="activeDayEven && isToday(activeDayEven)">Today</span>
    <span class="calendar-events-day" ng-if="activeDayEven && !isToday(activeDayEven)">{{ activeDayEven | date:'longDate' }}</span>
    <div class="calendar-events-list">
      <div class="calendar-event" ng-repeat="event in activeEventsEven | orderBy: startAttribute">
        <span class="calendar-event-time" ng-if="event.start.dateTime">{{ event.start.dateTime | date:'shortTime' }}</span>
        <span class="calendar-event-name" ng-class="{ 'calendar-event-name-no-time': !event.start.dateTime }"><a href="{{ event.htmlLink }}">{{ event.summary }}</a></span>
      </div>
      <div class="calendar-event" ng-if="activeEventsEven.length === 0">
        <span class="calendar-event-name"><em>No events</em></span>
      </div>
    </div>
  </div>
</section>
