* {
  box-sizing: border-box;
}

body {
  -webkit-user-select: none;
  background-color: #eeeeee;
  color: rgba(0, 0, 0, 0.87);
  cursor: default;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  height: 100vh;
  margin: 0;
  text-rendering: optimizeLegibility;
  width: 100vw;
}

header {
  background-color: #3F51B5;
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

header .container {
  padding: 6rem 3rem 3rem 3rem;
}

.container {
  max-width: 800px;
  margin: auto;
}

.header-1,
.header-2,
.header-3 {
  display: block;
  line-height: 1.4;
}

.header-1 {
  color: rgba(255, 255, 255, 0.70);
  font-weight: 100;
  text-transform: uppercase;
}

.header-2 {
  color: rgba(255, 255, 255, 0.87);
  font-size: 3rem;
}

.header-3 {
  color: rgba(255, 255, 255, 0.70);
  font-size: 1.4rem;
}

main {
  padding: 3rem;
}

.calendar {
  background-color: #fafafa;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  overflow: hidden;
  text-align: center;
}

.thead {
  background-color: #F44336;
  color: #fff;
  font-size: 0;
  padding: 0 8px;
}

.tbody {
  font-size: 0;
  padding: 8px;
  width: calc(42px * 7 + 16px);
}

.th,
.td {
  font-weight: 300;
  text-transform: uppercase;
}

.th {
  display: inline-block;
  font-size: 12px;
  margin: 1px;
  padding: 14px 0 10px 0;
  text-align: center;
  width: 40px;
}

.td {
  display: inline-block;
  font-size: 16px;
  overflow: hidden;
  line-height: 38px;
  margin: 1px;
  padding-top: 2px;
  width: 40px;
}

.calendar,
.calendar-events {
  display: inline-block;
  margin-bottom: 3rem;
  vertical-align: top;
}

.calendar-events {
  margin-left: 3rem;
}

.calendar-events-day {
  color: rgba(0, 0, 0, 0.54);
  display: inline-block;
  font-weight: 500;
  line-height: 37px;
  margin-top: 3px;
}

.calendar-events-list {
  background-color: #fafafa;
  border-left: 5px solid #90CAF9;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  padding: 0.8rem 1rem;
  width: 310px;
}

.calendar-event {
  margin-bottom: 1rem;
  font-size: 0;
}

.calendar-event:last-of-type {
  margin-bottom: 0;
}

.calendar-event-time,
.calendar-event-name {
  display: inline-block;
  font-size: 16px;
  line-height: 1.2;
  vertical-align: top;
}

.calendar-event-time {
  color: rgba(0, 0, 0, 0.54);
  margin-right: 0.8rem;
  max-width: 70px;
}

.calendar-event-name {
  max-width: calc(100% - 70px - 0.8rem);
  text-align: left;
  word-wrap: break-word;
}

.calendar-event-name-no-time {
  max-width: 100%;
}

.calendar-event-name a {
  color: inherit;
  text-decoration: none;
}

.calendar-event-name a:hover {
  text-decoration: underline;
}

.calendar-day-out {
  color: rgba(0, 0, 0, 0.26);
}

.calendar-day-today.calendar-day-today {
  border-radius: 50%;
  cursor: pointer;
}

.calendar-day-today:not(.calendar-day-active) {
  box-shadow: inset 0 0 0 1px #E0E0E0;
}

.calendar-day-event {
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px #E0E0E0;
  cursor: pointer;
}

.calendar-day-active {
  background-color: #2196F3;
  box-shadow: none;
  color: rgba(255, 255, 255, 1);
}


@media screen and (max-width: 800px) {

  main {
    text-align: center;
  }

  .calendar-events,
  .calendar-events-list {
    display: block;
    margin: auto;
  }
}
